#hangman-canvas{
    width: 750px;
    height: 500px;
    border: 1px solid black;
    margin: 2em auto;
    display: block;
}
#header{
    text-align: center;
}

input{
    margin-top: 2em;
    margin-bottom: 5em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

.letter-space{
    border-bottom: 2px solid black;
}