/* General Styles */
* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #2b2b2b, #353535);
}

body{
    background-color: #d8a200;
}

.category-button, .select-word-subheader, #enter-word-div, .hangman-input-button, #game-over-text, #game-over-button, #you-win-play-again, #incorrect-guesses-display, #remaining-guesses-display, #guess-div, #guess-letter-prompt{
     background-image: linear-gradient(to bottom right,#000000, #070707, #1c1c1c, #2b2b2b, #353535);
}

.text{
    color: #d8a200;
    text-shadow: 0px 0px 5px #d8a200;
}

.white-text{
    color: white;
}

.black-border{
    border: 1px solid black;
}

.yellow-box-shadow{
    box-shadow: 0px 0px 15px #d8a200;
}




/* Canvas Element */
#hangman-canvas{
    width: 250px;
    height: 125px;
    border: 1px solid #d8a200;
    margin: 1em auto;
    display: block;
} 




/* -------------------- Hangman Component playGame method --------------------------- */

#display-guess-word{
    width: 100%;
    margin: 3em auto;
    text-align: center
}

    /* You Win */
#you-win-display{
    text-align: center;
    margin-top: 5em;
}

#you-win-play-again{
    margin-left: 37.5%;
    margin-top: 5em;
    margin-bottom: 10em;
    padding: 1em;
}

    /* Game Over */
#game-over-text{
    text-align: center;
}

#game-over-button{
    padding: 1em;
    width: 40%;
    margin-left: 30%;
}

#game-over-word-reveal{
    padding: 1em;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 10em;
}

#game-over-header{
    margin-top: -1.4em;
}




/* ----------------------------------- HangmanInput component ----------------------- */
#guess-div{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}

#set-word-input, #guess-letter-input{
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 5em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 0;
    background-color: #d8a200;
}

#choose-category-buttons, #enter-word-body, #guess-div-input{
    height: 13em;
}

.select-word-subheader, #guess-letter-prompt{
    display: block;
    text-align: center;
    padding: 15px;
}




/* ------------------------------ HangmanSpace component --------------------------- */
.letter-space{
    padding-right: 0.25em;
    font-size: 3em;
}




/* ---------------------------- HangmanScoreboard Component ------------------------- */

#remaining-guesses-display, #incorrect-guesses-display{
    width: 50%;
    font-size: 0.8em;
    display: inline-block;
}




/* ---------------------------- HangmanSetWordInput Component ----------------------- */
#choose-category-div, #enter-word-div{
    padding: 0;
}

    /* Choose a Category */
.category-button{
    width: calc(100%/3);
    height: 100%;
}

    /* Enter a Word */
.set-word-button{
    width: 35%;
    padding: 1em;
}




/* ------------------------ HangmanGuessLetterInput Component ----------------------- */
#guess-letter-input{
    margin-top: 5em;
    padding: 1em;
}

#guess-letter-quit{
    width: 30%;
    padding: 1em;
}




/* -------------------------------- Desktop Media Query ----------------------------- */
@media only screen and (min-width: 768px) {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    
    #hangman-canvas{
        width: 500px;
        height: 250px;
    }
    
    #select-word-div{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}




/* ------------------------- Mobile Device Media Query ------------------------------ */
@media only screen and (max-width: 750px){
    #remaining-guesses-display, #incorrect-guesses-display{
        height: 5em;
    }


    #you-win-play-again{
        position: fixed;
        left:0;
        bottom:0;
        right:0;
        margin:0;
    }
}




/* -------------------- Mobile phones, excluding iPhone 4 -------------------------- */
@media only screen and (min-width: 330px) and (max-width: 768px){
    #guess-div{
        position: fixed;
        bottom: 0;
        left:0;
        right:0;
    }
}